@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:500,300");
@import url("all.min.css");

body,
input,
select,
textarea {
  color: #555f66;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 14pt;
  font-weight: 300;
  line-height: 1.75em;
}

h1{
text-transform: uppercase;
}

header.major {
  text-align: center;
  margin: 0 0 4em 0;
}

table.tournament th {
  color: #666f77;
  font-size: 1em;
  font-weight: 500;
  padding: 0 0.2em 0.2em 0.2em;
	vertical-align: bottom;
  text-align: center;
}
table.tournament th span{
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
	font-size: 1em;
}
table.tournament td.student{
	font-size: 1em;
	font-weight: 500;
	min-width:8em;
}
table.tournament td{
	padding: 0em;
	text-align: center;
}
table.tournament input{
	padding: 0em;
	text-align: center;
}
table.tournament input[type="checkbox"]{
	padding: 0em;
	text-align: center;
	display: inline;
	margin-right: 0;
	float: none;
}


@media print {
	table.tournament tbody tr td {
		border: solid 1px rgba(0, 0, 0, 1);
	}

	table.tournament thead {
	  border-bottom: solid 1px rgba(0, 0, 0, 1);
	}

	table.tournament thead th {
	  border: solid 1px rgba(0, 0, 0, 1);
	}

	header img{
		display:none;
	}
	section.wrapper {
		padding: 0;
	}
}

table.tournament tbody tr td {
	border: solid 1px rgba(0, 0, 0, 1);
}

table.tournament thead {
	border-bottom: solid 1px rgba(0, 0, 0, 1);
}

table.tournament thead th {
	border: solid 1px rgba(0, 0, 0, 1);
}

header img{
	display:none;
}

section.wrapper {
	padding: 0;
}


/* Banner */

#banner {
  background-color: #666666;
  background-image: url("../images/banner.png");
	background-position: center bottom;
	background-repeat: no-repeat;
	color: #d8d8d8;
	padding: 2em 0;
	text-align: center;
	position: relative;
}

#banner h2 {
  font-size: 3.5em;
  line-height: 1em;
  margin: 0 0 0.5em 0;
  padding: 0;
}

#banner p {
  font-size: 1.5em;
  margin-bottom: 2em;
}

#banner p a {
  color: #ffffff;
  text-decoration: none;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
/*
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	// Force table to not be like tables anymore
	table, thead, tbody, th, td, tr {
		display: block;
	}

	// Hide table headers (but not display: none;, for accessibility)
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		// Behave  like a "row"
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		// Now like a table header
		position: absolute;
		// Top/left values mimic padding
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	// 	Label the data

	td:nth-of-type(1):before { content: "Name"; }
	td:nth-of-type(2):before { content: "Grade"; }
	td:nth-of-type(3):before { content: "Job Title"; }
	td:nth-of-type(4):before { content: "Favorite Color"; }
	td:nth-of-type(5):before { content: "Wars of Trek?"; }
	td:nth-of-type(6):before { content: "Secret Alias"; }
	td:nth-of-type(7):before { content: "Date of Birth"; }
	td:nth-of-type(8):before { content: "Dream Vacation City"; }
	td:nth-of-type(9):before { content: "GPA"; }
	td:nth-of-type(10):before { content: "Arbitrary Data"; }
	*/
}
